@tailwind base;
@tailwind components;
@tailwind utilities;
/* nave bar menu custom style */
.main-manu li ul{
    opacity: 0;
    visibility: hidden;
}
.main-manu li:hover ul{
    opacity: 1;
    visibility: visible;
    top: 144%;
}

.menu > li .active{
    color: rgb(202, 202, 52) !important;
}